
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    
    
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İLETİŞİM</h3>
                <p>İletişime geçebileceğiniz güncel adreslerimiz aşağıda yer almaktadır. Mail atmak için ise mailin üstüne tıklamanız yeterli olacaktır.</p>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres</h3>
                        <p>İletişim geçmek için ulaşın..</p>
                        <p>Telefon:1-22-5555</p>
                        <p>Email:<a href="mailto:onurkecee@gmail.com">onurkecee@gmail.com</a></p>
                    </div>
                    <div class="contact-add">
                        <h3>İletişim</h3>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:onurkecee@gmail.com">onurkecee@gmail.com</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96357.67363006773!2d29.203588488275834!3d40.99949236382851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad1a690e688d1%3A0x51bd54f901bc3c9c!2sSancaktepe%2F%C4%B0stanbul%2C%20Turkey!5e0!3m2!1sen!2sus!4v1612094776488!5m2!1sen!2sus" width="800" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>


